src/resources/wsdl/ApcResiliation.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. --><xs:schema xmlns:tns="http://gps.webservices" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://gps.webservices">
<xs:element name="AddApcResponse" nillable="true" type="tns:AddApcResponse"></xs:element>
<xs:element name="AuthenticationData" nillable="true" type="tns:AuthenticationData"></xs:element>
<xs:element name="GetStatusResiliationRequest" nillable="true" type="tns:getStatusResiliationRequest"></xs:element>
<xs:element name="GetStatusResiliationResponse" nillable="true" type="tns:getStatusResiliationResponse"></xs:element>
<xs:element name="UpdateApcRequest" nillable="true" type="tns:UpdateApcRequest"></xs:element>
<xs:element name="UpdateApcResponse" nillable="true" type="tns:UpdateApcResponse"></xs:element>
<xs:element name="addApcRequest" type="tns:AddApcRequest"></xs:element>
<xs:element name="addApcResponse" type="tns:AddApcResponse"></xs:element>
<xs:element name="authenticationData" type="tns:AuthenticationData"></xs:element>
<xs:element name="getStatusResiliationRequest" type="tns:getStatusResiliationRequest"></xs:element>
<xs:element name="getStatusResiliationResponse" type="tns:getStatusResiliationResponse"></xs:element>
<xs:element name="operationRequest" type="tns:OperationRequest"></xs:element>
<xs:element name="operationResponse" type="tns:OperationResponse"></xs:element>
<xs:element name="updateApcRequest" type="tns:UpdateApcRequest"></xs:element>
<xs:element name="updateApcResponse" type="tns:UpdateApcResponse"></xs:element>
<xs:complexType name="AuthenticationData"><xs:sequence><xs:element name="userName" type="xs:string" form="qualified"></xs:element><xs:element name="password" type="xs:string" form="qualified"></xs:element></xs:sequence></xs:complexType>
<xs:complexType name="AddApcRequest"><xs:complexContent><xs:extension base="tns:OperationRequest"><xs:sequence><xs:element name="customerId" type="xs:long" form="qualified"></xs:element><xs:element name="montantTTC" type="xs:float" form="qualified"></xs:element><xs:element name="status" type="xs:int" form="qualified"></xs:element><xs:element name="validationDate" type="xs:dateTime" form="qualified"></xs:element><xs:element name="updateDate" type="xs:dateTime" form="qualified"></xs:element><xs:element name="processId" type="xs:long" form="qualified"></xs:element></xs:sequence></xs:extension></xs:complexContent></xs:complexType>
<xs:complexType name="OperationRequest" abstract="true"><xs:all></xs:all></xs:complexType>
<xs:complexType name="AddApcResponse"><xs:complexContent><xs:extension base="tns:OperationResponse"><xs:all></xs:all></xs:extension></xs:complexContent></xs:complexType>
<xs:complexType name="OperationResponse" abstract="true"><xs:sequence><xs:element name="isSuccessful" type="xs:boolean" form="qualified"></xs:element><xs:element name="errorCode" type="xs:string" form="qualified" nillable="true" minOccurs="0"></xs:element><xs:element name="comment" type="xs:string" form="qualified" nillable="true" minOccurs="0"></xs:element></xs:sequence></xs:complexType>
<xs:complexType name="getStatusResiliationRequest"><xs:complexContent><xs:extension base="tns:OperationRequest"><xs:sequence><xs:element name="processId" type="xs:long" form="qualified"></xs:element></xs:sequence></xs:extension></xs:complexContent></xs:complexType>
<xs:complexType name="getStatusResiliationResponse"><xs:complexContent><xs:extension base="tns:OperationResponse"><xs:sequence><xs:element name="status" type="xs:string" form="qualified" nillable="true" minOccurs="0"></xs:element></xs:sequence></xs:extension></xs:complexContent></xs:complexType>
<xs:complexType name="UpdateApcRequest"><xs:complexContent><xs:extension base="tns:OperationRequest"><xs:sequence><xs:element name="processId" type="xs:long" form="qualified"></xs:element><xs:element name="status" type="xs:int" form="qualified"></xs:element></xs:sequence></xs:extension></xs:complexContent></xs:complexType>
<xs:complexType name="UpdateApcResponse"><xs:complexContent><xs:extension base="tns:OperationResponse"><xs:all></xs:all></xs:extension></xs:complexContent></xs:complexType>
</xs:schema>